option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "wDT8TzVtlukVROGmPe1bXY3q3mORJMEUTRyfQgpv"
    MASTER_KEY: "cJhKY8CTbm2NOcd4RHRLoTOPbjFjbe3EJ3pYyke3"
    DATABASE_URI: "mongodb://slumbook:Eosdev81@ds021751.mlab.com:21751/slumbook"
    NODE_ENV: "production"
    SERVER_URL: "https://mighty-taiga-88243.herokuapp.com/"
	FACEBOOK_APP_ID:"423616424498622"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"